@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

body {
  background-color: black;
}

.text {
  font-family: 'Libre Baskerville', serif;
  color: white;
  background-color: black;
}

div {
  margin-top: 60px;
  text-align: center;
  width: 50%;
  margin-left: 25%;
}

img {
  border: 5px solid white;
  width: 100%;
}

h1 {
  text-transform: uppercase;
}